.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 352px;
    height: 352px;
    border: 1px solid black;
    margin: 10px
}

.grid-row {
    display: flex;
    flex: 1;
}

.grid-square {
    flex: 1;
    border: 1px solid black;
}

.hover {
    background-color: black;
}